*{
    margin: 0px;
    padding: 0px;
    font-family: "Karla", system-ui;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.logo{
    width: 100px;
}
.list_items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.list{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
/* pseudo class */
/* /this can only applied to already defined/styled properties */
.list:hover {
    color: red;
    text-decoration: underline;
}
.home_content{
    margin: 20px 0px 0px 12px;
}

#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Karla", system-ui;
}
#lname{
    color: orange;
    font-family: "MedievalSharp", system-ui;
}
#userdetails{
    line-height: 1.5;
    font-family: "Edu VIC WA NT Beginner", system-ui;

}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    
}
.home_img{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.home_img:hover #shape{
    bottom: 90px;
}
.home_img:hover #boy{
    left: 30%;
}
#about{
    margin: 15% 8% 0px 8%;
    margin-top: 500px;
}
.sectionhead{
    text-align: center;
    
}
#mainhead{
    font-size: 30px;
}

#subhead{
    font-size: 20px;
    color: green;
    font-weight: 600;
}
.aboutBody{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}
.img1{
    width: 60%;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
}
.information{
    margin-top: 1.3rem;
}
.infobox{
    margin-bottom: 10px;
}
.infobox>span{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0px 8%;
}
.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.mainhead, .barpercentage{
    font-weight: 500px;
    font-size: 1.3rem;
}

.baseBar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlBar{
    background-color: orange;
    width: 89%;
}

.cssBar{
    background-color: orange;
    width: 85%;
}

.jsBar{
    background-color: orange;
    width: 79%;
}

.reactBar{
    background-color: orange;
    width: 82%;
}

#contact{
    margin: 8% 8% 0px 8%;
}
.iconCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.brands{
    color: black;
    font-size: 2rem;
}

.icon:hover{
    background-image: linear-gradient(to bottom right,blue,green);
}

.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 3s;
}

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}

footer{
    margin-top: 8%;
}

#copyright{
    text-align: center;
    font-weight: 600;
}

.upArrow{
    float: right;
    margin: -30px 20px 0px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;

}

::-webkit-scrollbar-track{
    background-color: azure;
}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}